<div class="container text-center">
  <div class="">
    <router-outlet></router-outlet>
  </div>
  <div class="">
    <table class="table table-striped" style="border:1px solid" i=index>
      <thead class="thead-dark">
        <tr>
          <th>Sno</th>
          <th>Fname</th>
          <th>Lname</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listData let i = index">
          <td>{{i+1}} </td>
          <td>{{user.fname}} </td>
          <td>{{user.lname}} </td>
          <td>{{user.email}} </td>
          <td>{{user.mobile}} </td>
          <td>{{user.address}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
